@charset "utf-8";
/* CSS Document */

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* 比較好的做法是將 Body 元素的邊界與欄位間隔調整為零，以處理不同的瀏覽器預設值 */
	padding: 0;
	text-align: center; /* 這樣會讓容器在 IE 5* 瀏覽器內置中對齊。然後，文字會在 #container 選取器中設定為靠左對齊預設值 */
	color: #000000;
}

formtype{
    margin: 10;
}

.oneColFixCtrHdr #container {
	width: 980px;  /* 使用比完整 800px 少 20px 的寬度會允許使用瀏覽器邊框並且避免水平捲軸出現 */
	background: #FFFFFF;
	margin: 0 auto; /* 自動邊界 (搭配寬度) 會讓頁面置中對齊 */
	border: 1px solid #000000;
	text-align: left; /* 這樣做會覆寫 Body 元素上的 text-align: center。 */
	position: relative;
}
.oneColFixCtrHdr #header {
	background: #ffffff;  /* 這個欄位間隔符合下面顯示的 Div 中，元素的靠左對齊。如果在 #header 中使用影像而非文字，您可能會想要移除欄位間隔。 */
}
.oneColFixCtrHdr #header h1 {
	margin: 0; /* 將 #header Div 中最後一個元素的邊界調整為零可避免邊界收合 (Div 之間出現的空間，無法解釋)。如果 Div 的周圍具有邊框，這就不是必要動作，因為該項設定也會避免邊界收合 */
	padding: 10px 0; /* 使用欄位間隔而非邊界便可讓元素遠離 Div 的邊緣 */
}
.oneColFixCtrHdr #mainContent {
	padding: 0 20px; /* 請記住，欄位間隔就是 Div 方塊內部的空間，而邊界就是 Div 方塊外部的空間 */
	background: #FFFFFF;
}
.oneColFixCtrHdr #footer {
	padding: 0 10px; /* 這個欄位間隔符合上面顯示的 Div 中，元素的靠左對齊。 */
	background:#B3B3B3;
}
.oneColFixCtrHdr #footer p {
	margin: 0; /* 將頁尾中第一個元素的邊界調整為零可避免邊界收合的可能性 (Div 之間出現的空間) */
	padding: 10px 0; /* 這個元素的欄位間隔將會建立空間，就如同邊界一樣，但是沒有邊界收合的問題 */
}





.style1 {color: #B3B3B3}
.style2 {color: #FFFFFF}
.style3 {color: #666666}

.font10{
	font-size: 10pt;
	line-height: 15pt;
	letter-spacing: 0.2em;
	text-indent: 0.2pt;
	}
	
.Tablestyle1 {
	border: 1px solid #16A3EB;
}


#box {
       width:700px; 
       height:480px; 
	   overflow:auto; 
       border:1px solid #16A3EB;  
}

#div1{
    margin-top:30px;
	margin-bottom:30px;   
}



#line{
    margin-top:15px;

}

#apDiv2 {
	position:absolute;
	left:619px;
	top:22px;
	width:39px;
	height:29px;
	z-index:1;
}

img{border: 0;}

.linkus a{ text-decoration:none;}
.linkus a:link{color:#FFF}
.linkus a:visited{color:#FFF}
.linkus a:focus{color:#FFF}
.linkus a:hover{color:#FFF;}
.linkus a:active{color:#FFF}